streamlit==1.39.0
torch==2.3.0
numpy==1.26.4
pandas==2.2.3
vaderSentiment==3.3.2
transformers==4.44.2
emojipy==3.0.5
matplotlib==3.9.2
seaborn==0.13.2
spacy==3.7.6
sentence-transformers==3.1.1
langdetect==1.0.9
scikit-learn==1.5.2
wordcloud==1.9.3
pytorch-crf==0.7.2
gdown==5.2.0
openpyxl==3.1.5
sentencepiece
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
